html {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-center {
    text-align: center;
    margin-bottom: 10px;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1px;
    border-style: solid;
    width: 720px;
    height: 720px;
}

.hover {
    background-color: red;
}


