.btn-center {
    text-align: center;
    margin-bottom: 10px;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    width: auto;
    height: auto;
    border-style: solid;
    margin: 1px;
    ;
}

#container {
    width: 960px;
    height: auto;
}

